@page "/"

<h3>A long time ago in a galaxy far, far away...</h3>

<h1>Welcome to a Star Wars Directory.</h1>

<center>
    <div id="info">
        To the left, you see a navigation menu that will take you to specific categories of information.
        Each page will begin with a list of names that are clickable.
        As you click through, you will be taken to details about the subject you click on.
    </div>
</center>

<style>
    h3 {
        color:aqua;
    }
    h1 {
        color:yellow;
        font-size: 75px;
    }
    body {
        background-color:black;
        text-align:center;
    }
    #info {
        color: yellow;
        width: 400px;
        text-align: justify;
        font-size: 25px;
        margin: 50px;
    }
</style>